<ion-view title="Send money">
  <div class="content has-header">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name, email or phonenumber">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Amount">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Message">
      </label>
    </div>
    <div class="padding">
      <a href="#/transfers/submit" class="button button-block button-balanced">Send</a>
    </div>
  </div>
</ion-view>